<div id="choiceFormDiv">
  Create Answer:
  <input id="choice_questionID" type='hidden' name="" value=""></br>
  <input id="choice_option_input" type="text" name=""></br>
  <a id="add_choice">Save Answer</a>
</div>
