<<<<<<< HEAD
Possible Answer
<input type="text" name="choice[title]option">
<button id="add_choice">Create Answer Question</button>
=======
Answer
<input type="text" name="question[title]option">
<button id="add_choice">Add Answer Choice</button>
>>>>>>> master
