<div id="create_survey" style="background-color: white">
   <form action="/survey/create" method="post">

    <div id="surveyPartial">
          <%= erb :"survey/_create_title", layout: false %>
    </div>

    <div id="questionPartial">
      <%= erb :"survey/_create_qa", layout: false %>
    </div>

    <div id="choicePartial">
        <%= erb :"survey/_create_choice", layout: false %>
    </div>

  </form>
</div>
