.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  background-color: #FCFEF5;
  border-radius: 20px;
  font-family: monospace, serif;
}
th {
  text-align: left;
}


body {
  background-image: url("http://i.imgur.com/ft3twlS.png");
  background-size: cover;
  background-repeat: repeat-y;
}


.btn-toolbar {
  position: fixed;
  top: 20px;
  right: 70px;
}

#signin_container {
  color: black;
  background-color: #333;
  width: 30%;
  position: absolute;
  top: 400px;
  left: 100px%;
  border-radius: 10px;
  text-align: center;
  border: 5px solid #fff;
<<<<<<< HEAD
  box-shadow: 10px 10px 50px #333;
}
=======
  box-shadow: 10px 10px 50px #333

>>>>>>> 32f69bd11ad9c4772d13777fdb6b69d7adf4ece3

.welcome {
  padding: 40px;
}

.welcome h1{
  font-size: 70px;
  padding: 20px;
}

#your_surveys {
  border: 7px solid;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
}

#your_surveys li{

}

#others_surveys {
  border: 7px solid;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
}

#create_survey {
  position: relative;
  float:right;
}

#add_question {
  font-size: 20px;
  padding: 20px;
}

#submit {
  position: relative;
  float: right;
}

/*#logout {
  font-size: 20px;
}*/

