<form id="create_question" action="/question/create" method="post">
  Question
  <input type="text" name="title">
  Option
  <input type="text" name="option">
  <button id="add_question">Create Question</button>
</form>
