<div id="signup"
style="display: block; position: fixed; z-index: 2001; left: 50%; top: 50%; margin-left: -200px; margin-top: -131px; background-color: white">
  <form id='signup_form'>
    <h3>Sign Up</h3>
  </br>
    Username
    <input type="text" name="username">
    Email
    <input type="text" name="email">
    Password
    <input type="password" name="password">
    <input type='submit' value='Sign Up'>
  </form>
</div>
