<div>
  <form id="master_survey" action="/survey/create" method="post">
    <div id="_formConfirmation">
      <h1>Survey name:</h1>
    </div>

    <%= erb :"/survey/_create_title", layout: false %>

    <div id="_partial">
    </div>

<!--     <div id="created_survey">
      <% unless @current_survey.nil? %>
        <%current_survey.questions.each%>
      <% end %>
    </div> -->

    <button id="submit" class=" btn-large btn btn-success">Create Form</button>
  </form>
</div>
