<div>
  <form id="master_survey" action="/survey/create" method="post">
    <div id="_formConfirmation">
      <h1>Survey name:</h1>
    </div>

    <div id="_partial">
      <ul id="partialQuestions">
        <li>
          <ul id="partialChoices">
            <li>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <%= erb :"/survey/_create_title", layout: false %>

    <a id="new_question_link" class="btn btn-inverse btn-large" href="#">Add a Question</a>
    <a id="new_choice_link" class="btn btn-inverse btn-large" href="#">Add an Answer</a>

<!--     <div id="created_survey">
      <% unless @current_survey.nil? %>
        <%current_survey.questions.each%>
      <% end %>
    </div> -->

    <button id="submit" class=" btn-large btn btn-success">Create Form</button>
  </form>
</div>
