<div>

  <form action="/survey/create" method="post">
    Survey name
    <input type="text" name="name">

</div>

<div id="created_survey">

  <% unless @current_survey.nil? %>
    <%current_survey.questions.each%>
  <% end %>

</div>

<div id="add_question">
  <a href="#">Add question</a>
</div>

<button>Submit</button>
</form>

