<div>
  <form action="" method="">
    Survey name
    <input type="text" name="name">
  </form>
</div>

<div id="created_survey">
  <% current_survey.questions.each%>
</div>


<div id="add_question">
  <a href="">Add question</a>
</div>

<button>Submit</button>