<div>
  <h1>JQuerious</h1>
  <p>Write less. Question more</p>

  <div id="signin_link">
    <form action="/user/signin" method="post">
      Sign in
    </form>
  </div>

  <div id="signup_link">
    <form action="/user/new" method="post">
      Sign up
    </form>
  </div>
</div>

<%= erb :_signin %>



