<!-- <div>
  <h1>JQuerious</h1>
  <p>Write less. Question more</p>
</div> -->

<div id="signin_container">
  <div id="signin_link">
    <a href="#">Sign in</a>
  </div>

  <div id="signup_link">
    <a href="#">Sign up</a>
  </div>
</div>


<%= erb :_signin %>
<%= erb :_signup %>


