<div>
  <h1>JQuerious</h1>
  <p>Write less. Question more</p>

  <div id="signin_link">
    <a href="/signin">Sign in</a>
  </div>

  <div id="signup_link">
    <a href="/signup">Sign up</a>
  </div>
</div>s

<%= erb :_signin %>



