<h1>Thank you for taking the survey.</h1>
<a class="btn btn-primary" href="/home">Home</a>

<div id="others_surveys">
  <h2>Popular surveys</h2>
  <ul>
  <% @all_surveys.each do |survey|%>
    <li><a href="/survey/<%= survey.id%>"><%=survey.name%> - <%= User.find(survey.user_id).username %></a></li>
  <% end %>
  </ul>
</div>